<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
        <remove key="EXPL_SettingsPrefix" />
        <remove key="EXPL_ServiceLocation" />
        <remove key="EXPL_Environment" />
        <remove key="EXPL_DataConfig" />
		<add key="WebTMAUrl" value="http://web-tma/Webtma"></add>
		<!--URL to the application-->
		<add key="NetworkKey" value="1234"></add>
		<!--key set in client pref-->
		<add key="LanguageID" value="0"></add>
		<!--default to English-->
		<add key="ClientName" value="epl"></add>
		<!--client name-->
		<add key="CheckLDAP" value="0"></add>
		<!--check LDAP server for user and group details (0 or 1)-->
	</appSettings>
	<connectionStrings></connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"></add>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<identity impersonate="true"></identity>
		<authentication mode="Windows"></authentication>
		<authorization>
			<deny users="?"></deny>
			<!-- deny anonymous users -->
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers accessPolicy="Read, Script"></handlers>
		<directoryBrowse enabled="false"></directoryBrowse>
		<security>
			<authentication>
				<anonymousAuthentication enabled="true"></anonymousAuthentication>
				<basicAuthentication enabled="false"></basicAuthentication>
				<windowsAuthentication enabled="true"></windowsAuthentication>
			</authentication>
		</security>
		<defaultDocument>
			<files>
				<clear></clear>
				<add value="Default.aspx"></add>
			</files>
		</defaultDocument>
		<httpErrors>
			<clear></clear>
		</httpErrors>
	</system.webServer>
</configuration>
