
--SET IDENTITY_INSERT me97705 ON
insert into me97705 ( [ME_Job_ID]
      ,[GRANTID]
      ,[ME_Trx_Type]
      ,[ME_Breakdown_Code]
      ,[LNITMSEQ]
      ,[SQNCLINE]
      ,[DOCDATE]
      ,[DOCNUMBR]
      ,[ME_Document_Number_WORK]
      ,[DOCTYPE]
      ,[MEuserdefined2]
      ,[ME_Work_Order_Number]
      ,[ME_User_Defined]
      ,[DSCRIPTN]
      ,[ME_Amount_Type]
      ,[TRXAMNT]
      ,[ME_Originating_Master_ID]
      ,[MEuserdefined1]
      ,[ME_Proposal_Number]
      ,[JRNENTRY]
      ,[MEuserdefined3]
      ,[ME_User_Defined_5]
      ,[ME_User_Defined_6]
      ,[ME_User_Defined_7]
      ,[ACTINDX]
      ,[HOURSWKD]
      ,[GLPOSTDT]
      ,[ME_GL_Distribution_LI_In]
      ,[ME_Module_LI_Index]
      ,[ORIGAMT]
      ,[VOIDED]
      ,[COMMNTID]
      ,[ME_Originating_Mstr_Name]
      ,[DSCRPTN255]
      ,[ORIGPONUMBER]
      ,[TRXUNIT]
      ,[DECPLQTY]
      --,[DEX_ROW_ID]
 )
 select [ME_Job_ID]
      ,[GRANTID]
      ,[ME_Trx_Type]
      ,[ME_Breakdown_Code]
      ,[LNITMSEQ]
      ,[SQNCLINE]
      ,[DOCDATE]
      ,[DOCNUMBR]
      ,[ME_Document_Number_WORK]
      ,[DOCTYPE]
      ,[MEuserdefined2]
      ,[ME_Work_Order_Number]
      ,[ME_User_Defined]
      ,[DSCRIPTN]
      ,[ME_Amount_Type]
      ,[TRXAMNT]
      ,[ME_Originating_Master_ID]
      ,[MEuserdefined1]
      ,[ME_Proposal_Number]
      ,[JRNENTRY]
      ,[MEuserdefined3]
      ,[ME_User_Defined_5]
      ,[ME_User_Defined_6]
      ,[ME_User_Defined_7]
      ,[ACTINDX]
      ,[HOURSWKD]
      ,[GLPOSTDT]
      ,[ME_GL_Distribution_LI_In]
      ,[ME_Module_LI_Index]
      ,[ORIGAMT]
      ,[VOIDED]
	  ,'Manual Transfer'
      ,[ME_Originating_Mstr_Name]
      ,[DSCRPTN255]
      ,[ORIGPONUMBER]
      ,[TRXUNIT]
      ,[DECPLQTY]
      --,[DEX_ROW_ID]
  FROM [EPCO].[dbo].[ME97706]
  where ME_Document_Number_WORK = '00000000000247346';
  --SET IDENTITY_INSERT me97705 OFF


  --select * from me97706 where ME_Document_Number_WORK = '00000000000247346'