/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [AFENum]
      ,[GLAccount]
      ,[Dist Ref]
      ,[ACCATDSC]
      ,[JournalEntry]
      ,[GLPOSTDT]
      ,[TrnAmt]
      ,[REFRENCE]
      ,[VCHRNMBR]
      ,[DOCNUMBR]
      ,[BACHNUMB]
      ,[TRXSORCE]
      ,[ORCTRNUM]
      ,[ORMSTRNM]
      ,[ORDOCNUM]
      ,[DSCRIPTN]
      ,[ME_Originating_Mstr_Name]
  FROM [EPCO].[dbo].[vw_AFE_Journal_Template]
  where GLPOSTDT < '2015-4-1'
  and left(glaccount,2) = '82'