/****** Script for SelectTopNRows command from SSMS  ******/
SELECT m.Origin ,
       m.Location ,
       m.ConnectionPoint ,
       m.TotalMiles ,
       m.LA ,
       m.TX ,
       m.OK ,
       m.MO ,
       m.IL ,
       m.[IN] ,
       l.Location ,
       l.Facility ,
       l.Description ,
       l.System ,
       l.Division ,
       l.LineNum ,
       l.TicketSort ,
       l.ContractFlag ,
       l.MeterNo ,
       l.ReportExclude ,
       l.IN_Transporter ,
       l.AreaGroup ,
       l.NomLoc 
  FROM [Explorer].[dbo].[Mileages] m
  LEFT OUTER JOIN dbo.locations l ON l.Location = m.Location